{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Потребители</h1>

    <table class="table" >
        <thead>
            <tr>
                <th>Номер</th>
                <th>Потребителско име</th>
                <th>Име</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Покажи</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Редактирай</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Създай нов потребител</a>
{% endblock %}
